@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* use /bg.png as background, repeat over x-axis */
body {
  background-image: url('/bg.png');
  background-repeat: repeat-x;
  /* stretch vertically */
  background-size: 100% 100%;
}